* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-width: 360px;
    height: 100vh;
    font-family: sans-serif;
}

.navbar {
    background: linear-gradient(0deg, transparent, #000000);
}

li {
    list-style: none;
}

.py-xl {
    padding: 90px 0px;
}

.bg-white-tint {
    background: #ffffffbd;
}

.bg-light-20 {
    background-color: #f0f8ff57;
}

.bg-tint {
    background: #0000009a;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000a0;
    z-index: 1;
    display: none;
}

.home-banner {
    background-image: url('/images/nav-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.contact-banner {
    background-image: url('/images/contact-bg.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.blog-banner {
    background-image: url('/images/blog-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.blog-details-banner {
    background-image: url('/images/efbac6a3c59ca3b465c8dac901e023a4.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.Talk-to-an-Expert {
    background-image: url('/images/image-131311.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.blog-page-sect {
    background-image: url('/images/269aaa05cf523ad8940f7bdd4dc9f59e.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.Editor-Pick-1 {
    background-image: url('/images/be3053a3a8fa74031a90c192bb2f14f0.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.Editor-Pick-2 {
    background-image: url('/images/e20e73a878ee780cd4195b966ccc08df.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.Editor-Pick-3 {
    background-image: url('/images/12e39c6467bf807eb54727401871cc38.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.background-1 {
    background-image: url('/images/IMG_8662.JPG');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.background-2 {
    background-image: url('/images/IMG_4580.JPG');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.background-3 {
    background-image: url('/images/IMG_8657.JPG');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.background-4 {
    background-image: url('/images/IMG_5775.JPEG');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #000000;
    color: #fff;
}


/* search box */
.search-container .button {
    display: inline-block;
    /* margin: 4px 2px; */
    /* background-color: #444; */
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-container .button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    /* background-color: white; */
    /* color: black; */
}

.search-container {
    position: relative;
    display: inline-block;
    margin: 0px;
    height: 40px;
    width: 50px;
    vertical-align: bottom;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.search-container .searchbutton {
    position: absolute;
    font-size: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}

.search {
    position: absolute;
    left: 49px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    border-radius: 8px 0px 0px 8px;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    width: 233px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
}

.expandright {
    left: auto;
    right: 49px;
    /* Button width-1px */
}

.expandright:focus {
    padding: 0 0 0 16px;
}

/* search box end */

@media screen and (max-width:990px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        background: #00000070;
        backdrop-filter: blur(15px);
        background-repeat: no-repeat;
        background-size: cover;
        /* width: 250px; */
        height: 100vh;
        right: 0;
        padding: 23px;
        z-index: 99;
        transition: all 0.5s;
    }

    .navbar .collapse:not(.show) {
        right: -100%;
    }
}

@media screen and (max-width:500px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        background: #00000070;
        backdrop-filter: blur(15px);
        background-repeat: no-repeat;
        background-size: cover;
        /* width: 250px; */
        height: 100vh;
        right: 0;
        padding: 23px;
        z-index: 99;
        transition: all 0.5s;
    }

    .navbar .collapse:not(.show) {
        right: -100%;
    }
}